<header class="px-4 py-8 mb-12">

	<div class="flex flex-row justify-between font-sans md:mx-20 md:text-lg header">

		<div class="brand">
			<a href="/" class="font-semibold header__title">
				Peter White
			</a>
		</div>


		<div class="menu">
			<div class="menu__wrap">
				<ul class="flex flex-row space-x-4 md:space-x-8 menu__list wrap">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="text-gray-800 transition duration-150 ease-in-out hover:text-black focus:outline-none focus:text-gray-900">
						<a href="{{ item.url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</header>