---
layout: default
title: Blog
description: My random thoughts...
---

<section class="max-w-screen-xl mx-auto blog ">

	<div class="content-wrap blog-wrap">
        {% assign psize = site.posts | size %}
            {% if psize == 0 %} 
              <p>No posts...yet.</p>
            {% endif %}

		{% for post in paginator.posts %}

		<article class="post">

			<div class="post__content-wrap single page__content">
				<div class="px-4 mx-auto prose-sm prose post__content sm:prose lg:prose-lg xl:prose-xl" style="margin-bottom:1.5rem">
					 <a href="{{ post.url }}"><h2 class="post__title">{{ post.title }}</h2></a>
                    <p class="post__description">{{ post.description }}</p>
				</div>
			</div>
		</article>

		
		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}
