<!doctype html>

<html class="no-js" lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Page Info -->
	<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image }}">
	<title>{{ site.data.settings.basic_settings.site_title }}</title>
	<meta name="description" content="{{ page.description }}">

	{% if site.data.settings.font_settings.font_embed %}
	<!-- Font Embed Code -->
	{{ site.data.settings.font_settings.font_embed }}
	{% endif %}

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">


	{% if site.data.settings.advanced_settings.custom_styles %}
	<!-- Custom Styles -->
	<style>{{ site.data.settings.advanced_settings.custom_styles }}</style>
	{% endif %}

	{% if site.data.settings.advanced_settings.analytics_code %}
	<!-- Analytics Code -->
	{{ site.data.settings.advanced_settings.analytics_code }}
	{% endif %}

	{% if site.data.settings.advanced_settings.header_js %}
	<!-- Extra Header JS Code -->
	{{ site.data.settings.advanced_settings.header_js }}
	{% endif %}
	
	<script async src="https://cdn.splitbee.io/sb.js"></script>
	
</head>


<body data-site-url="{{ site.url }}" data-page-url="{{ page.url | replace: 'index.html', '' }}"> 


	{% include header.html %}


		<main>
			{{ content }}
		</main>



	{% include footer.html %}

	{% if site.data.settings.advanced_settings.footer_js %}
	<!-- Extra Footer JS Code -->
	{{ site.data.settings.advanced_settings.footer_js }}
	{% endif %}


</body>

</html>
